<div class="wiki-content">
  <div class="latest-articles">
    <h1><%= I18n.t('article.page_title') %></h1>

    <div class="post_list">
      <%= render @articles %>
    </div>

    <div class="flickr_pagination">
      <%= will_paginate @articles %>
    </div>
  </div>

  <div class="tag-cloud">
    <h1>Tags</h1>
    <%=render 'articles/tag_cloud' %>
  </div>
</div>
