// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 100%;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

body {
  padding: 1em;
}

textarea {
  resize: none !important;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #fbb02d;
    border-color: #007bff;
}

.main {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}
.notice {
  padding: 4rem 2rem;
}
.notifications{
  overflow: visible;
}
.blog-masthead{
  margin-bottom: 3rem;
  //background-color: #428bca;
  background-color: #ff9400;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

.blog-main{
  width: 100%;
}
.field_with_errors{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.nav-link.active {
    color: #fff;
}

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    //color: #cdddeb;
    color: #ffffff !important
}
.nav-link {
    display: block;
    padding: .5em 1em;
}

.search-articles{
  border-color: #cdddeb !important;
}
